apiVersion: apps/v1
kind: Deployment
metadata:
  name: golden-nginx
  namespace: apps
  labels:
    app: golden-nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: golden-nginx
  template:
    metadata:
      labels:
        app: golden-nginx
    spec:
      automountServiceAccountToken: false
      containers:
      - name: nginx
        image: nginx:1.27-alpine
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "25m"
            memory: "64Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
